PORT=3000

# Cấu hình PostgreSQL
# Lưu ý: DB_HOST phải trùng với tên service trong docker-compose.yml (là 'postgres')
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=my_secret_password
DB_NAME=student_db

# Cấu hình Redis
# Tương tự, REDIS_HOST là 'redis'
REDIS_HOST=redis
REDIS_PORT=6379